/* for button two  */
.two{
  padding-top: 100px;
}
/* Here all the animation part start..
    Select the button two by btn_two class */
/* Customise the way you want  */
.btn_two{
  color: white;
  outline: none;
  border: none;
  /* position: absolute; */
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 300px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 25px 80px;
  margin: 0 auto;
  border-radius: 15px;
  left: 37%
  width: 160px;
  height: 70px;
  background: tomato;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

/* :before is a psuedo class it gives the current condition */
.btn_two:before{
  width: 160px;
  content: 'Hover me';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ;
}
/* :hover:before it dose what happen's after Hover  */
.btn_two:hover:before{
  top: -30%;
}

/* :after is a psuedo class it gives the condition after we hover */

.btn_two:after{
  font-family: 'Ionicons';
  content: '\f43c';
  font-size: 40px;
  top: calc(100% + 30px);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ;
}
/* :hover:after it make come back to initiall condition  */

.btn_two:hover:after{
  top: 50%;
}
